/***** UNIVERSAL *****/

a:hover {
	text-decoration: none;
}

.container-fluid {
	padding-top: 5%;
}

body {
    background-color: #f4f4f1;
}

#frame {
    height: 40em;
    overflow-y: webkit-scrollbar;
    overflow-x: hidden;
    padding: 0;
    background-color: #f4f4f1;
}

::-webkit-scrollbar {
	display: none;
}

h1 {
    font-size: 2.3em;
    font-family: "pragmatica-web";
    font-weight: 600;
    text-align: left;
    color: #4e4e4f;
}

h2, h3, h4, h5, p {
	font-family: "pragmatica-web"; 
	color: #5a5b5b;
}

p {
    margin: 0 0 10px;
    font-size: 1.05em;
}


/***** BOOTSTRAP OVERRIDES *****/

.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: none;
    border-color: #dbdbdb;
}

.btn {
    font-family: "pragmatica-web";
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    margin: 0 auto .2em auto;
    /* height: 1.8em; */
    text-align: left;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    color: white;
    box-shadow: 0 0 6px 1px lightgray;
    background-color: #336699;
    text-shadow: none;
}

.dropdown-hamburger, .dropup {
    position: fixed;
    top: 0;
    left: 1em;
}

.glyphicon-user {
    color: white !important;
}

span.glyphicon {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.3em;
    margin-bottom: .5em;
    margin-top: .2em;
}

span.glyphicon.glyphicon-plus-sign {
    float: right;
    width: 1em;
    margin-top: 0.5em
}

#header {
    padding: 0 .5em;
    width: 100%;
    height: 10%;
    background-color: #dadad2;
}

.header-left h2 {
	font-family: "adobe-text-pro";
	text-decoration: none;
	color: white;
}

.hea h2:hover {
	text-decoration: none;
}

.header-right h5 {
    text-align: right;
    padding-right: 2em;
    margin-top: 2em;
}

.header-right span {
    float: right;
    margin-top: 1em;
    font-size: 1.6em;
    color: gray;
    margin-right: .8em;
}

.section {
	margin-top: 1em;
}

#button-row {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: -1em;
    margin-top: 2em;
}

.button {
	border: 1px solid gray;
	margin: .8em 0;
	border-radius: 4px;
	text-align: center;
}

.btn {
	display: block;
	margin: 0 auto 2em auto;
}

.button-text {
	float: right;
}

.col-xs-12.col-sm-4 {
    padding: 0;
    margin: 0;
}



/***** MOBILE HEADER *****/

span.glyphicon.glyphicon-menu-hamburger {
    font-size: 1.7em;
    margin-top: 1em;
    color: #00476B;
}

#header h2 {
    color: #00476B;
    margin-left: 1.7em;
    font-family: "adobe-text-pro";
    font-weight: bold;
    text-shadow: 0 0 0.05px;
    font-size: 2em;
}


/***** DROPDOWN MENUS ******/

ul#select-top-drowpdown-ul {
    top: auto;
    /* border: 2px solid; */
    /* margin-top: -2em; */
}

#dropdown-hamburger {
    top: -0.5em;
    left: -1em;
    height: 2000px;
    min-width: 250px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #5d5d5d;
    white-space: nowrap;
    font-size: 1.3em;
    margin: 1em 0;
    text-transform: uppercase;
    top: -0.5em
    left: -1em;
}

.sort-by-ul {
    left: auto;
    width: 200px;
    right: 0;
    margin-right: 1em;
    margin-top: 0;
}


/*****  MOBILE BUTTON DECK FOOTER *****/

#nav-footer {
    height: 50px;
    background-color: black;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    border-top: none;
    box-shadow: 0 0 2px 2px lightgrey;
}

.footer-button {
    height: 100%;
    padding-top: 0.25em;
}

.footer-button p {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: .8em;
}

.footer-icon {
    height: 1.5em;
    width: 1.5em;
    border: 1px solid white;
    display: block;
    margin: .5em auto .2em auto;
}

.heading {
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 0.2em;
    margin-top: 0.4em;
    /* margin-left: .4em; */
    float: left;
    font-size: 1.4em;
}

.populist {
    margin: 5em 0 1em 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

.populist_ul {
    margin-left: -1.5em;
    padding-top: 7em;
    padding-bottom: 6em;
}

.populist_ul li {
    list-style-type: none;
    font-size: 1.4em;
    margin: .7em 0;
    border-bottom: 1px dotted gray;
    padding-bottom: 0.7em;
    margin-left: -1em;
}

p.list_title {
    font-size: 1.3em;
    text-transform: uppercase;
}

input.checkbox {
    margin: 0.4em 0.4em 0 0;
    float: left;
    color: white;
}
 
.populist_footer.col-xs-12 {
    margin-top: 1em;
    position: fixed;
    bottom: 3.5em;
    z-index: 9;
    box-shadow: 0px -2px 3px 1px lightgrey;
    height: 4em;
    padding-top: .7em;
    background: #f4f4f1;
}

.populist_footer p {
    float: right;
}

.listOfMyLists {
    margin: 5em 0 1em 0;
    padding: 0.5em 1em;
    background-color: #f4f4f1;
}

.listlistitem {
    border-bottom: 1px solid black;
    margin: 0.6em 0;
}

.listlistitem p {
    margin-bottom: .8em;
}

.deals {
    padding: 0;
    margin-left: 0;
}

.featured-deal {
    border-radius: 3px;
    border: 1px solid black;
    margin-right: 10px;
    height: 150px;
}

p.list-title {
    margin-top: .5em;
    float: left;
    text-transform: uppercase;
}

.trending-populist-item {
    padding-left: 0;
    margin-left: 1em;
    margin-top: 1em;
}

.trending-populist-item li {
    font-size: 0.95em;
    color: #5a5b5b;
    border-bottom: 1.5px solid #99ccff;
    margin: .2em;
    font-weight: lighter;
    letter-spacing: .04em;
}

.contributors {
    float: right;
    margin-top: .7em;
    font-size: .9em;
    padding: 0; 
    padding-left: 0.2em;
    text-align: right;
}

#contributors p {
    float: left;
    text-align: right;
    margin-left: 65%;
    font-weight: lighter;
}

i.fa {
    float: right;
    margin-right: .5em;
    color: #5a5b5b;
    margin-top: .2em;
}

i.fa.fa-eye-slash {
    font-size: 1.5em;
}

i.fa.fa-eye {
    font-size: 1.5em;
}

.featured-list-header {
    padding: .3em 0 0 .4em;
    margin: 0;
    border-bottom: 2px solid #ffb3b3;
    height: 3em;
}

.feature li {
    color: #4e4e4f;
}
 
.rank {
    display: inline-block;
    float: right;
}

.copy-button {
    border: none;
    width: 45%;
    background-color: white;
    margin: 0 2%;
    box-shadow: 0 0 2px 2px lightgrey;
    border-radius: 3px;
    height: 35px;
    color: #5a5b5b;
}

p.contributor-count {
    margin-top: -0.9em;
    font-size: .9em;
    margin-bottom: 1.5em;
}

div#list-viewer-desktop-only {
    margin-top: 8em;
    border: 1px solid gray;
    height: 800px;
}

#my-list-list {
    list-style-type: none;
    margin-left: -3em;
}

#my-list-list li {
    border-bottom: 2px dotted gray;
    padding-bottom: .5em;
    font-size: 1.3em;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding-top: .5em;
    padding-left: .5em;
    box-shadow: 0 0 2px 2px #f4f4f4;
    font-size: 1.3em;
    margin: .5em 0;
    color: #5a5b5b;
    background-color: white;
}

#mask {
    width: 600%;
}

.product img {
    max-width: 100px;
    display: block;
    margin: .2em auto;
}

.retailer {
    font-weight: bold;
    margin-left: .5em;
    font-size: 1.2em;
}

.product p {
    margin: 0;
    font-size: .9em;
    text-align: center;
}

.featured-deal {
    display: inline-block;
    width: 200px;
    height: 170px;
}

#mask {
    width: 3000px;
    overflow: scroll;
    padding: 0 .5em;
}

.deals {
    padding: 0;
    margin-left: 0;
    overflow: scroll;
}

.carousel-row {
    overflow: scroll;
    padding-right: 0;
}

.carousel {
    width: 4000px;
    overflow: scroll;
    margin-bottom: 1.5em;
}

.trending-populist {
    width: 170px;
    height: 150px;
    margin: 0 .39em;
    display: inline-block;
    border: 1px solid lightgrey;
    padding: .1em .4em;
}

.last-row {
    margin-bottom: 4em;
}

.populist-header.col-xs-12 {
    margin-left: 0;
    padding-left: 0;
    box-shadow: 0 2px 4px 0px lightgrey;
    padding: .5em;
    position: fixed;
    background-color: white;
    opacity: 1;
    z-index: 1;
    margin-top: -1em;
    background-color: #f4f4f1;
}

.featured-product {
    width: 170px;
    height: 170px;
    margin: 0 .39em;
    display: inline-block;
    padding: .1em .4em;
    /* box-shadow: 0 0 1px 1px lightgrey; */
    border: 1px solid lightgray;
    margin-top: .3em;
    border-radius: 3px;
    margin-bottom: 0.1em;
    background-color: white;
}

.brand {
    font-weight: bold;
}

.trending-populist {
    width: 170px;
    height: 170px;
    margin: 0 .39em;
    display: inline-block;
    padding: .1em .4em;
    margin-top: .2em;
    border-radius: 3px;
    background-color: #FCFCFB;
}

.visibility-status {
    float: right;
    margin-right: .3em;
}

.visibility-status span {
    color: gray;
    font-size: .9em;
    margin-right: 1em;
    margin: 0;
    padding: 0;
    display: inline;
}

.create-new-plus {
    float: left;
    color: gray;
}

.new-list-container {
    margin-top: 4em;
}

.new-list-title-input {
    font-size: 1.7em;
}

.list-input {
    display: inline-block;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.new-list-container {
    margin-top: 6em;
    border-bottom: 2px solid #ffb3b3;
    padding: 0;
}

div#new-list-title-buttons {
    background-color: white;
    padding: 1em;
    /* padding-top: 3em; */
}

.save-this-item-button {
    color: gray !important;
}

.new-list-item {
    float: left;
    display: inline-block;
    margin-left: 1.5em;
}

#added-list-item span {
    color: gray;
    float: right;
    font-size: 1em;
    margin-top: 0;
    padding: 0;
    margin: 0;
    width: 3em;
}

#newList li {
    margin-left: -2em;
    padding-left: 1em;
    margin-top: 1.2em;
    border-bottom: 1.5px solid #99ccff;
    padding-bottom: 1em;
    width: 100%;
    font-size: 1.2em;
    color: #5d5d5d;
}

span.glyphicon.glyphicon-remove {
    color: gray;
    float: right;
    font-size: 1em;
    margin-top: 0;
}

input.gotit {
    float: left;
    margin-right: 1em;
}

div#create-list {
    padding: 0 0 0 3em;
    background-color: white;
}

input#new-list-item-1 {
    max-width: 400px;
    margin-left: -0.6em;
    margin-bottom: 1em;
}

ol#newList {
    list-style-type: none;
    margin-left: -2em;
}

#select-all-dropdown p {
    float: right;
}

button#select-all-dropdown {
    background-color: white;
    font-weight: normal;
    width: 33%;
    float: left;
    margin-left: -1em;
    height: 1.2em;
    border: 0;
    box-shadow: 0 0 1px 1px lightgrey;
    padding-bottom: 9%;
}

#select-top-caret {
    color: black;
    float: left;
    margin-top: .5em;
}

ul#select-top-drowpdown-ul {
    margin-top: -2.5em;
    box-shadow: none !important;
    border: 1px solid lightgray;
    padding: 0;
    border-radius: 0;
    font-size: .8em;
    margin-right: -.1em;
}

div#populist-items-overflow {
    margin: 0;
    padding: 1em;
    height: 2000px;
    overflow: scroll;
}

div#select-all {
    height: 40px;
}

div#list-cart {
    box-shadow: 0 0 2px 2px lightgrey;
    border-radius: 4px;
    padding: .5em;
    margin-bottom: 1.5em;
    background-color: white;
}

div#cart-list-item {
    border-top: 1px dotted gray;
    margin-left: -.1em;
}

#cart-list-item p {
    float: left;
    margin-top: .7em;
}

span.glyphicon.glyphicon-plus-sign {
    float: right;
    width: 1em;
    margin-top: 0.5em;
    color: #5a5b5b;
}

#cart-list-item-deals .product {
    height: 7em;
    display: inline-block;
    border: 1px solid black;
    width: 32%;
}

div#cart-list-item-deals {
    display: block;
    margin: 0 auto;
    padding:0;
}

span.eye {
    margin-right: .8em;
}

button#save-this-list {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 3em;
    font-size: 1.4em;
}

div#dropdown-sort {
    float: right;
    width: 120px;
    /* background-color: green; */
    min-height: 0;
}

button#sort-by-dropdown {
    background: #f4f4f1;
    box-shadow: none;
    border-radius: 0;
    height: 2.5em;
    border: 1px solid gray;
}

div#container {
    margin-top: 8em;
    margin-bottom: 4em;
    padding-right: 0;
}

.list-search-buttons {
    margin-top: 0;
    padding: 0;
}

.list-search-buttons i {
    font-size: 1.7em;
    margin-left: 1.5em;
}

#contributors .fa {
    font-size: 1.3em;
}

#header-right input.form-control {
    max-width: 400px;
    margin-top: 1.2em;
    float: right;
}

.new-list-header input.form-control.new-list-title-input {
    margin-top: 2em;
}

div#thumbnail-preview-frame {
    padding: 0;
    margin-left: -5px;
}

div#list-category-row {
    padding: 0;
}

.new-list-buttons i.fa {
    float: right;
    font-size: 1.5em;
    margin-top: 2.5em;
    margin-left: 1em;
}

.col-xs-12.col-sm-7.new-list-header {
    padding: 0;
}

.col-xs-12.col-sm-5.new-list-buttons {
    padding: 0;
}

/***** MEDIA QUERIES - LARGE TO SMALL SCREENS *****/



@media screen and (min-width: 576px) {
    #header {
        position: fixed;
        top: 0;
        height: 5em;
        z-index: 8;
    }

    #nav-footer {
        visibility: hidden;
    }

    .dropdown-hamburger, .dropup {
        position: fixed;
        top: 0;
        left: 1em;
    }

    .carousel {
        width: 5000px;
        overflow: scroll;
        margin-bottom: 1.5em;
    }

    .trending-populist {
        width: 250px;
        height: 250px;
        margin: 0 .39em;
        display: inline-block;
        padding: .1em .4em;
        margin-top: .2em;
        border-radius: 3px;
    }

    .trending-populist-item li {
        font-size: 1.3em;
        color: #5a5b5b;
    }

    p.list-title {
        font-size: 1.2em;
    }   

    .featured-product {
        width: 250px;
        height: 250px;
    }

    .product img {
        max-width: 150px;
    }

    .product p {
        margin: 0;
        font-size: 1.2em;
        text-align: center;
    }

    #list-thumbnail {
        width: 48%;
        margin: 0.5%;
    }

}

@media screen and (max-width: 575px) {

div#container {
    margin-top: 6em;
    margin-bottom: 4em;
}

#frame {
        height: 40em;
        background-color: #f4f4f1; 
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 200em;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
    }

#header {
    width: 110%;
    height: 55px;
    /* border-bottom: 1px solid black; */
    z-index: 2;
    box-shadow: 0 0 2px 2px lightgrey;
    position: fixed;
    top: 0;
    margin: 0;
}

#header h2 {
    visibility: hidden;
}

.heading {
    font-size: 1.2em;
}

#header-right input.form-control {
    margin-top: 0.8em;
}

span.glyphicon.glyphicon-menu-hamburger {
    font-size: 1.8em;
    margin-top: 0.65em;
    color: #00476B;
}

body {
	   padding: 0;
    }

#nav-footer {
        position: fixed;
    }

.featured-list-header {
    height: 2em;
}

p.list-title {
    margin-top: .3em;
}

.trending-recent-lists {
    margin-top: .2em;
}

.trending-populist-item {
    margin-left: 0;
    margin-top: 0;
}

#contributors {
    margin-top: -.3em;
}

#contributors p {
    margin-left: 55%;
    font-size: .9em;
}

i.fa {
    float: right;
    margin-right: 0;
    color: #5a5b5b;
    margin-top: 0;
    margin-left: 0.7em;
}

div#list-thumbnail {
    width: 100%;
}

}


@media screen and (max-width: 767px) {
    div#dropdown-sort {
        float: left;
    }

    .col-xs-12.col-sm-8.list-search-buttons {
        margin: 1.5em 0 -1em 0;
    }

    ul#select-top-drowpdown-ul {
        left: 0.5em;
        margin-top: -2.8em;
    }

    #list-category-row {
        padding: 0;
        width: 100%;
    }

    .col-xs-12.col-sm-5.new-list-buttons {
        margin-top: -9.2em;
    }

    .new-list-header input.form-control.new-list-title-input {
        margin-top: 0.7em;
    }

    div#new-list-title-buttons {
        background-color: white;
        padding: 1em;
        padding-top: 3em;
    }
}


@media screen and (min-width: 768px) {
    #list-thumbnail {
        width: 31%;
    }

}

@media screen and (max-width: 991px) {
    div#list-viewer-desktop-only {
    visibility: hidden;
    }
}

@media screen and (min-width: 1400px) {
    #list-thumbnail {
        width: 23%;
        margin: 0.7%
    }
}



